@font-face {
      font-family: 'Montserrat';
      src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype'); 
      font-weight: normal; 
      font-style: normal; 
}

p, span{
  font-family: 'Montserrat';
}

.content{
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

h1{
  font-family: 'Montserrat';
}


@media (max-width: 1024px) {
  .responsive-wrap {
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:flex-start;
  }
  .Name{
    font-size: 30px;
  }
}
@media (min-width: 1025px) {
  .header-div{
    position: sticky;
    height: 100vh;
  }
}

@import "tailwindcss";