/* Smooth scrolling & font setup */
html {
  scroll-behavior: smooth;
  max-width: 1280;
}

body {
  font-family: "Inter", sans-serif;
}

@media (max-width: 1024px) {
  .responsive-wrap {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .name-div{

    margin-left: 0;
  }
}


@import "tailwindcss";